.str1{
    display: grid;
    grid-template-columns: [item1]110px [item2]757px repeat(4, 200px);
    border-bottom: 1px solid rgba(65, 65, 68, 1);
    height: 60px;   
}
.str1-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .basket{
        display: none;
        margin-left: 5px;
    }
}

.str1-logo:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .basket{
        display: flex;
        margin-left: 5px;
    }
}


.str2{
    display: grid;
    grid-template-columns: [item1]110px [item2]757px repeat(4, 200px);
    border-bottom: 1px solid rgba(65, 65, 68, 1);
    height: 60px;
}
.str2-logo-child{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 25px;
    .basket{
        display: none;
        margin-left: 5px;
    }
}
.str2-logo-child:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 25px;
    .basket{
        display: flex;
        margin-left: 5px;
    }

}


.str3-logo-child{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 65px;
    .basket{
        display: none;
        margin-left: 5px;
    }
}
.str3-logo-child:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 65px;
    .basket{
        display: flex;
        margin-left: 5px;
    }
}
.str3{
    display: grid;
    grid-template-columns: [item1]110px [item2]757px repeat(4, 200px);
    border-bottom: 1px solid rgba(65, 65, 68, 1);
    height: 60px;
}